<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>word ladder</title>
</head>
<body>
    <h1>Word Ladder!</h1>
    <form id="login" name="login" method ="get"  action="/greeting">
        <p>begin:<input id="str1" name="str1" type="text" /></p>
        <p> end :<input id="str2" name="str2" type="text" /></p>
        <p><input id="subLogin"  name ="subLogin" type="submit" value="submit" /></p>
    </form>
</body>
</html>